<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.rynkowski.hamsterclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hamster_time_tracker"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AddFactActivity"
            android:label="@string/title_activity_add_fact"
            android:parentActivityName=".view.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>

        <service
            android:name=".service.HamsterService"
            android:enabled="true"
            android:exported="false"></service>

        <activity
            android:name=".view.PrefsActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
    </application>

</manifest>
